<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//com.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>


    <!--settings：控制mybatis全局行为-->
    <settings>
        <!--设置mybatis输出日志-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>


    <!--设置别名-->
    <typeAliases>
        <package name="com.qunar.事物.dao"/>
    </typeAliases>



    <!-- sql映射文件的位置 -->
    <mappers>
        <!--name是包名，这个包中所有mapper.xml一次加载-->
        <package name="com.qunar.事物.dao"/>
    </mappers>

</configuration>
